//- +table({
//-   mix: 'post__section post__content post__content--notice offset-bot-3',
//-   attrs: {
//-     bgColor: ''
//-   }
//- })
//-   tr
//-     td.post__stretch
//-       p Если вы используете Outlook, то письмо могло изменить свой вид.<br> Для просмотра оригинального вида&nbsp;
//-         a(class="post__link") откройте письмо в браузере
+table({
  mix: 'post__section post__section--header offset-top-7 offset-bot-3',
  attrs: {
    bgColor: '#FFFFFF'
  }
})
  tr
    td.post__logo-wrap(colspan="6", align="center")
      a(href="https://market.severstal.com?utm_source=email&utm_medium=email&utm_campaign=abandoned_cart&utm_content=logolink" target="_blank" class="post__logo"): img(src="https://s8.hostingkartinok.com/uploads/images/2019/08/002199b745a3e9eafe11227292b0770c.png" width="279" height="55" alt="")