extends layout.pug

block content
  +table({
    mix: '',
    attrs: {
      width: 640
    }
  })
    tr
      td.post__stretch
        img(src="images/image.jpg" width="640" height="315" alt="")
  +table({
    mix: 'post__section post__content offset-top-4 offset-bot-3'
  })
    tr
      td.post__stretch
        h1.post__title Иван, добрый день
        p Мы регулярно работаем над улучшением интерфейса и сервисов интернет-магазина. В прошлом обновлении мы реализовали возможность оставить заявку на любое количество металлопроката на выбранном складе.
        p Теперь, если вам нужно больше продукции, чем сейчас есть в наличии, нажмите на ссылку «Заявка на другое количество» в карточке товара и заполните необходимые поля – в ближайшее время мы свяжемся с вами для уточнения сроков и деталей поставки.
  +table({
    mix: ''
  })
    tr
      td.post__stretch
        img(src="images/image1.jpg" width="600" height="600" alt="")
  +table({
    mix: 'post__section post__content post__content--pr',
    attrs: {
      bgColor: '#F4F9FB'
    }
  })
    tr
      td.post__stretch
        p Покупайте металлопрокат в интернет-магазине «Северсталь Маркет» – в нашем каталоге представлено более 1 000 позиций металлопродукции для любой отрасли бизнеса.
  +table({
    mix: 'post__section offset-top-5'
  })
    tr
      td.post__stretch
        a(href="#" class="post__button") Перейти на сайт
  +table({
    mix: 'post__section post__content post__content--contact-text offset-top-6'
  })
    tr
      td.post__stretch
        p Есть вопросы или предложения<br> по улучшению сайта?
  +table({
    mix: 'post__section post__content post__content--contact-title offset-top-3'
  })
    tr
      td.post__stretch
        p Свяжитесь с нами с помощью:
  +table({
    mix: 'post__section post__content post__content--contact-info offset-top-4'
  })
    tr
      td.post__stretch
        +table({
          mix: '',
          attrs: {
            width: 250,
            align: 'left'
          }
        })
          tr
            td.post__stretch
              p Формы<br> обратной связи
        +table({
          mix: '',
          attrs: {
            width: 250,
            align: 'left'
          }
        })
          tr
            td.post__stretch
              p Позвоните<br>
              a(href="tel:88002006939" target="_blank") 8-800-200-69-39