+table({
  mix: 'post__empty post__hr'
})
  tr
    td.post__stretch .
+table({
  mix: 'post__section post__section--footer offset-top-4 offset-bottom-4 '
})
  tr
    td.post__stretch
      +table({
        mix: 'post__footer-email',
        attrs: {
          width: 250,
          align: 'left'
        }
      })
        tr
          td.post__stretch
            span Phone:&nbsp;
            a(href="tel:88008008080"): b 8-800-800-80-80
      +table({
        mix: 'post__footer-email',
        attrs: {
           width: 250,
           align: 'left'
        }
      })
        tr
          td.post__stretch.offset-left-5
            b Email:&nbsp;
            a(href="mailto:order@lorem.com") order@lorem.com