+table({
  mix: 'post__section post__content post__content--notice offset-bottom-3',
  attrs: {
    bgColor: ''
  }
})
  tr
    td.post__stretch
      p Если вы используете Outlook, то письмо могло изменить свой вид.<br class="post__br-responsive"> Для просмотра оригинального вида&nbsp;
        a(class="post__link") откройте письмо в браузере
+table({
  mix: 'post__section post__section--header offset-top-7 offset-bottom-3',
  attrs: {
    bgColor: '#FFFFFF'
  }
})
  tr
    td.post__logo-wrap(colspan="6", align="center")
      a.post__logo(href="#" width="279" height="55" alt="")
        img(src=`${imgPath}logo.png` width="279" height="55" alt="")