+table({
  mix: 'post__section post__content post__content--notice offset-bottom-3',
  attrs: {
    bgColor: ''
  }
})
  tr
    td.post__stretch
      p If you use Outlook, then the letter could change its appearance.<br class="post__br-responsive"> To view the original view&nbsp;
        a(class="post__link") open the letter in the browser
+table({
  mix: 'post__section post__section--header offset-top-7 offset-bottom-3',
  attrs: {
    bgColor: '#FFFFFF'
  }
})
  tr
    td.post__logo-wrap(colspan="6", align="center")
      a.post__logo(href="#" width="147" height="55" alt="")
        img(src=`${imgPath}logo.png` width="147" height="55" alt="")