<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="build/css/style.css", data-inline)
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        title #{title}