- var imgPath = "../../src/images/"

if isDevelopment
  include head
else
  link(rel="stylesheet", href="build/css/style.css", data-inline)
include mixins
body.body
  include preheader
  +table({
    block: 'post',
    attrs: {
      bgColor: '#F2F2F2',
      width: '100%'
    }
  })
    tr
      td.post__stretch
        include header
        block content
        include footer