// Variables

$screen-mobile: 480px;
$mobile-width: 420px;
$preferred-font: 'Arial', sans-serif;

//  Color definitions
 
$text-color-primary: #000000;
$text-color-light: #75848D;
$hr-primary-color: #f2f2f2;
$text-link-color: #005DA3;
$title-color-primary: #0E7DC1;